<!doctype html>
<html>

<head>
    <title>WIKIPEN</title>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    Hello there. You have reached WIKIPEN!
    <hr>

    {% for flash in get_flashed_messages() %}
        {{ flash }}
    {% endfor %}




    {% block content %} put your content here {% endblock %}

<div id="stream">
</div>
    <script>
        $(document).ready(function() {
            $.get("/last_modified", function(alldata) {
                console.log(alldata);
                for (var i = 0; i < alldata.length; i++) {
                    var data = alldata[i];
                    $('#stream').append('<div>' + data['name'] + '<img src="' +
                    data['image_url'] + '"></img></div>');

                }
            });



            var source = new EventSource("{{ url_for('sse.stream') }}");
            source.addEventListener('edit', function(event) {
                var data = JSON.parse(event.data);

                $('#stream').prepend('<div>' + data['name'] + '<img src="' +
                    data['image_url'] + '"></img></div>'
                    );
                }, false);

            // $('#stream').prepend('<div>pen, id: ' + data['id'] + 
            //     ' name:' + data['name'] +
            //     'image_url:' + data['image_url'] +
            //     ' rest: ' + event.data +
            //     '</div>');

        });
    </script>
</body>


</html>
