<!doctype html>
<html>

<head>
    <title>WIKIPEN</title>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    Hello there. You have reached WIKIPEN!
    <hr>

    {% for flash in get_flashed_messages() %}
        {{ flash }}
    {% endfor %}
    <br>


    {% block content %} put your content here {% endblock %}

<div id="stream">
    <h3>WIKIPEN Posts:</h3>
</div>
    <script>
        $(document).ready(function() {
            var makeEntry = function(data) {
                return '<div><div><a href="/pens/' + data['id'] + '">' +
                    data['name'] +
                    '</a></div><div><img src="' + data['image_url'] + 
                    '"></img></div></div>';
            };

            $.get("/last_modified", function(allData) {
                console.log(allData);
                for (var i = 0; i < allData.length; i++) {
                    var data = allData[i];
                    $('#stream').append(makeEntry(data));
                    //$('#stream').append('<div>' + data['name'] + '<br><img src="' +
                    //data['image_url'] + '"></img></div>');

                }
            });

            var source = new EventSource("{{ url_for('sse.stream') }}");
            source.addEventListener('edit', function(event) {
                var data = JSON.parse(event.data);

                $('#stream').prepend(makeEntry(data));
                    //'<div>' + data['name'] + '<img src="' +
                    //data['image_url'] + '"></img></div>');
                    
                }, false);

        });
    </script>
</body>
</html>


