{% extends 'base.html' %}
{% block content %}

    {% if login %}
      <h3>IN SESSION</h3>
    {% endif %}
    
    <div>  
      <h2>Pen Post Page</h2>
    </div>

    <div>
        <form action = "/" method="POST">
            <p>First Name:<input type="text" name="first_name"></p>
            <p>Last Name:<input type="text" name="last_name"></p>
            <p>Email:<input type="text" name="email"></p> 
            <p>Password:<input type="text" name="password"></p>
            <p><button type='submit' value='Submit'>Submit</button></p>    
        </form>
    </div>


{% endblock %}