{% extends 'base.html' %}
{% block content %}

<h1>This is the home page</h1>

<h2></h2>


<h2>User login here</h2>


<form id="reigster" action="/register_form"> 
    <button type='submit' value='Submit'>Create New Account</button>
</form>
<br>
<form id="login" action="/login_form"> 
    <button type='submit' value='Submit'>Existing Accounts</button>
</form>
<br>
<form id="search" action="/search_retrieve"> 
    <button type='submit' value='Submit'>Search Posts</button>
</form>

{% endblock %}

<!-- <p><a href="/users">View all users</a></p> -->
