{% extends 'base.html' %}
{% block content %}

          
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
    <h1 class="panel-title">{{pen.pen_title}}</h1>
  </div>
    {% for pen in pen.images %}
    <p><img class="img-responsive" type="file" src="{{ pen.image_url }}"></p>
    {% endfor %}
    <dl class="dl-horizontal">
    <dt>Pen Name</dt><dd>{{ pen.pen_title }}</dd>
    <dt>Brand Name</dt><dd>{{ pen.manufacturer }}</dd>
    <dt>Production Start Year</dt><dd>{{ pen.start_year }}</dd> 
    <dt>Production End Year</dt><dd>{{ pen.end_year }}</dd>
    <dt>Pen Production Version</dt><dd>{{ pen.pen_version }}</dd>
    <dt>Pen Type</dt><dd>{{ pen.pen_category }}</dd>
    <dt>General Info</dt><dd>{{ pen.general_info }}</dd>

    <dt>Contributors</dt><dd>
{% for user in contributors %}
      <em>{{ user }}</em>
{% endfor %}
      </dd>
    </dl>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2><a href="/" class="btn btn-med btn-default">Home Page / Search</a></h2>

{% if "search" in session %}
    <h2><a class="btn btn-med btn-success" href= "/show_search_results?brand_name={{ session['search']}}" method="GET">Back to Search Results</a></h2>
{% endif %}


{% if "login" in session %}
    <h2><button id="show_form" class="btn btn-med btn-warning">Edit Pen Post</a></h2>
    <h2><a href="/logout" class="btn btn-med btn-default">Logout</a></h2>
{% endif %}
  </div>
</div> <!-- row -->
<!-- hidden by default below here -->
<div class="row">
    <div class="col-md-8 col-offset-1" id="update_pen_form">
      <div class="panel panel-default">
        <div class="panel-heading">
      <h2 class="panel-title">Update existing pen</h2>
    </div>
    <div class="panel-body">
        <form action ="/update_pen" method="POST" enctype="multipart/form-data">
          <input type="text" name="pen_id" value="{{ pen.s_pen_id }}" hidden>
          
          <div class="form-group">
            <div id="images">
{% for img in pen.images %}
            <p><img type="file" class="img-responsive" name="images" src="{{ img.image_url }}"></p>
            <p><label for="images">Pen Image URL</label><input type="text" class="form-control" name="images" value="{{ img.image_url }}"></p>
{% endfor %}
            </div>
            <p><button type="button" class="btn btn-xs btn-default" id="add-new-image">Add New Image</button></p>
          </div>

          <div class="form-group">
          <p><label for="pen_name">Pen Name</label><input class="form-control" type="text" name="pen_name" value="{{ pen.pen_title }}"></p>
          <p><label for="brand_name">Brand Name</label><input class="form-control" type="text" name="brand_name" value="{{ pen.manufacturer }}"></p>
          <p><label for="production_start_year">Production Start Year</label><input class="form-control" type="text" name="production_start_year" value="{{ pen.start_year }}"></p>
          <p><label for="production_end_year">Production End Year</label><input class="form-control" type="text" name="production_end_year" value="{{ pen.end_year }}"></p>
          <p><label for="pen_production_version">Pen Production Version</label>
            <select class="form-control" name="pen_production_version">
              <option value="none">None</option>
              <option value="standard_stock_pen"{% if pen.pen_version == "standard_stock_pen" %}selected="selected"{% endif %}>Standard Stock Pen</option>
              <option value="special_edition"{% if pen.pen_version == "special_edition" %}selected="selected"{% endif %}>Special Edition</option>
              <option value="limited_edition"{% if pen.pen_version == "limited_edition" %}selected="selected"{% endif %}>Limited Edition</option>
              <option value="custom pen"{% if pen.pen_version == "custom pen" %}selected="selected"{% endif %}>Custom Pen</option>
              <option value="franken_pen"{% if pen.pen_version == "franken_pen" %}selected="selected"{% endif %}>Franken-Pen</option>
            </select>
          </p>
          </p><label for="pen_type">Pen Type</label>
            <select class="form-control" name="pen_type">
              <option value="none">None</option>
              <option value="fountain_pen"{% if pen.pen_category == "fountain_pen" %}selected="selected"{% endif %}>Fountain Pen</option>
              <option value="combo_pen"{% if pen.pen_category == "combo_pen" %}selected="selected"{% endif %}>Combo Pen</option>
              <option value="dip_pen"{% if pen.pen_category == "dip_pen" %}selected="selected"{% endif %}>Dip Pen</option>
              <option value="reed_pen"{% if pen.pen_category == "reed_pen" %}selected="selected"{% endif %}>Reed Pen</option>
              <option value="brush_pen"{% if pen.pen_category == "brush_pen" %}selected="selected"{% endif %}>Brush Pen</option>
              <option value="rollerball_pen"{% if pen.pen_category == "rollerball_pen" %}selected="selected"{% endif %}>Rollerball Pen</option>
              <option value="ballpoint_pen"{% if pen.pen_category == "combo_pen" %}selected="selected"{% endif %}>Ballpoint Pen</option>
              <option value="gel_pen"{% if pen.pen_category == "gel_pen" %}selected="selected"{% endif %}>Gel Pen</option>
              <option value="multi_funtion_pen"{% if pen.pen_category == "multi_funtion_pen" %}selected="selected"{% endif %}>Multi-funtion Pen/Pencil</option>
              <option value="mechanical_pencil"{% if pen.pen_category == "mechanical_pencil" %}selected="selected"{% endif %}>Mechanical Pencil</option>
              <option value="septer_pencil"{% if pen.pen_category == "septer_pencil" %}selected="selected"{% endif %}>Septer Pencil</option>
              <option value="lead_holder"{% if pen.pen_category == "lead_holder" %}selected="selected"{% endif %}>Lead Holder</option>
              <option value="Other"{% if pen.pen_category == "other" %}selected="selected"{% endif %}>Other</optio> 
            </select>
          </p>
          <p>General Info:<textarea class="form-control" id="general_info" name="general_info">{{pen.general_info}}</textarea></p>
          <p><button class="btn btn-warning" type='submit' value='Submit'>Submit</button></p>
        </div>
        </form>
    </div>
  </div>
</div> <!-- row -->

    <script>
      $('#add-new-image').click(function() {
        $('#images').append('<p><label for="images">Pen Image URL:</label><input class="form-control" type="text" name="images"></p>');
      });
      $('#update_pen_form').hide();
      $('#show_form').click(function(){
          $('#update_pen_form').toggle();
      });
    </script>

{% endblock %}

    <!-- <IMG SRC="{{ pen.url }}"></img> -->


 


