
{% extends 'base.html' %}
{% block content %}
    {% if "login" in session %}
      <h3>IN SESSION</h3>
    {% endif %}
    <h2>Pen Post Page</h2>
 
<!--     <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> -->
    <div>
        <form action ="/show_search_results" method="GET">
            <p>Search by brand name:<input type="text" name="brand_name">
                <button type='submit' value='Submit'>Search</button>
            </p>
        </form>
        <form id="create" action="/create_pen_post_form" method="POST"> 
            <p><button type='submit' value='Submit'>Create New Post</button></p>
        </form>
        <form id="logout"action="/logout" method="POST">
            <p><button type='submit' value='Submit'>Logout</button></p>    
        </form>
    </div>


{% endblock %}
