/*
.container-fluid{
    background-size: 100px 200px;
}


body {
    background-image:url("/static/Image_stripes.png");
    padding-top: 50px;
}

body{
 
  background-image: url("/static/wiki_banner.png");
  padding-top:70px;


}
*/
/*#navbar{
  height: 8%;

}*/




/*.starter-template {
  padding: 40px 15px;
  text-align: center;
}
*/

/*body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}*/
