<!-- 
{% extends 'base.html' %}
{% block content %}

    <h2>Please fill out one of the following fields to establish your search!
    </h2>

    <form action ="/search_retrieve" method="GET">
      Pen Name:
      <input type="text" name="pen_name">
      <button type='submit' value='Submit'>Search</button>
    </form>


    <form action ="/search_retrieve/{{ pen_title }}" method="POST">
    </form>

    <ul>

        <li>
          Pen Name: {{pen_title.pen_title}}
        </li>

    </ul>

    <form id="pen_posts" action="/pen_posts"> 
      <button type='submit' value='Submit'>Posts</button>
    </form>

    <form id="logout"action="/logout" method="POST">
      <button type='submit' value='Submit'>Logout</button>    
    </form> 
 
{% endblock %} -->

